/* universal selector */

*{
    margin:0px;
    padding:0px;
}


/* header */

header{
    background-image: url('./images/banner/banner1.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 163px 100px;
    
}

.header-container{
    width:40%;
    margin-left: 50%;
    text-align: right;



}

.header-container h1{
    font-size: 45px;
}


.header-container p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-container button{
          color: white;
          background-color: #F15B22;
          border-radius: 4px;
          border:none;
          padding:14px 25px;
}


.main-first-img img{
    width: 350px;
    /* margin: auto; */
    margin-left: 40px;
}

 .main-first-container{
    display: flex;
    justify-content: space-around;
    margin: 100px;  
 }


 .main-first-text{
    width:400px;
    margin: auto;
 }
 
 .section-title{
    font-size: 30px;
 }
 .main-first-text p{
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .main-first-text ul li{
    list-style: none;
    font-size: 12px;
    padding: 2px;
 }