/* universal selector */

*{
    margin:0px;
    padding:0px;
}


/* header */

header{
    background-image: url('./images/banner/banner1.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 163px 100px;
    
}

.header-container{
    width:40%;
    margin-left: 50%;
    text-align: right;



}

.header-container h1{
    font-size: 45px;
}


.header-container p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-container button{
          color: white;
          background-color: #F15B22;
          border-radius: 4px;
          border:none;
          padding:14px 25px;
}


.main-first-img img{
    width: 440px;
    /* margin: auto; */
    margin-left: 40px;
}

 .main-first-container{
    display: flex;
    justify-content: space-around;
    margin: 100px;  
    align-items: center;
 }


 .main-first-text{
    width:300px;
    margin: auto;
 }
 
 .section-title{
    font-size: 30px;
 }
 .main-first-text p{
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .main-first-text ul li{
    list-style: none;
    font-size: 12px;
    padding: 2px;
 }

 .plan-container{
    margin-bottom: 100px;
 }

 .plan-container h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
 }
 .section2-container{
    display: flex;
    justify-content: center;
    gap: 90px;
 }

 .section2-container h2{
    margin-bottom: 10px;
 }

 .section2-container p{
    font-size: 20px;
 }

 .section-parts-container{
           text-align: center;
 }

 .section-parts-container img{
    width:70px;
    margin-bottom: 10px;
 }

 .positive-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:70%;
    height:220px;
    margin:auto;
    background-image: url('./images/watch.png'),linear-gradient(to right,rgb(221, 85, 0),rgba(107, 99, 99, 0.4)); 
    /* linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%) */
    background-blend-mode: overlay;
    padding-left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-size: cover;
 }

 .positive-mind h1{
    color:white;
    font-size: 30px;
    padding-bottom: 10px;
    
 }

 .positive-button{
           color: #F15B22;
           font-size: 16px;
           font-weight: bold;
           background-color: white;
           padding: 15px 25px;
           border:none;
           border-radius: 5px;
           
 }

 footer{
    width:100;
    height: 450px;
    background-color: black;
 }

 .footer-container{
    padding-top:100px;
    display: flex;
    justify-content: center;
    gap: 150px;
    /* align-items: center; */
    
 }

.footer-left{
    width:400px;
}

.footer-left h1{
    padding-bottom: 20px;
}

.footer-left p{
    padding: 10px 0px;
    font-size: 14px;
    width: 330px;
}

.footer-img img{
    padding-top: 10px;
    padding-right: 10px;
    width:35px;
}
 footer h1,footer p,footer h3{
    color:white;
 }


 .footer-right{
    margin-right: 50px;
 }

 .footer-right h3{
        font-size: 24px;
 }
 #email{
    padding: 15px 75px 15px 15px;
    /* width:300px; */
    display: block;
    margin: 20px 0px 15px 0px;
    background-color: black;
    border: 1.5px solid rgb(200, 194, 194);
    border-radius: 5px;
 }